body, p {
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: #25255F;
    padding: 1em 0;
    margin: 0;
}

p {
    padding: 1.6em 0;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

header {
    height: 7.25rem;
    background-color: #fff;
}

footer {
    background-color: #25255F;
    color: #fff;
}

.site-logo {
    width: 8em;
    margin: 1em 0;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content .wrapper {
    min-height: calc(100vh - 10.5em);
}

#main-content {
    background-color: #B1BAD9;
}

#main-content p {
    font-size: 1em;
    line-height: 1.5;
    color: #25255F;
}

#main-content h1 {
    font-size: 3rem;
    text-align: center;
}

.hand {
    width: 4em;
}

.highlighted {
    background-color: #ef4b4b;
    color: white;
    padding-right: 0.1em;
    padding-left: 0.1em;
    border: 2px solid #f8ced2;
    display: -webkit-inline-box;
    margin: 0em;
    transform: rotate(-6deg);
    margin-top: 3px;
    display: block;
}

.btn {
    padding: 1rem 2rem;
    display: block;
    background-color: pink;
    border-radius: 3px;
    margin-top: 2rem;
}

.btn-pop {
    background-color: #ef4b4b;
    font-size: 2rem;
}

.weather-widget {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
}